{% extends 'base.html' %}

{% block content %}
    <header class="text-center pb-3"><h2>Список рассылок</h2></header>
    <div class="row">
        {% if not user.is_staff %}
            <div class="col-12 pb-3 text-center">
                {% if user.is_superuser or client_list.exists and message_list.exists %}
                    <a href="{% url 'mailing:create' %}" class="btn btn-outline-success w-25">Добавить</a>
                {% elif client_list.exists %}
                    <button type="button" class="btn btn-outline-success" disabled>Необходимо создать письмо</button>
                {% elif message_list.exists %}
                    <button type="button" class="btn btn-outline-success" disabled>Необходимо добавить клиента</button>
                {% else %}
                    <button type="button" class="btn btn-outline-success" disabled>Необходимо добавить клиента и письмо
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% for object in object_list %}
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm ">
                    {% include 'mailing/includes/inc_mailing_settings.html' %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}