{% extends 'base.html' %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if object %}
                                <button type="submit" class="btn btn-success form-control my-1 px-2">Принять изменения</button>
                            {% else %}
                                <button type="submit" class="btn btn-success form-control my-1 px-2">Создать</button>
                            {% endif %}
                            <a href="{% url 'mailing:list' %}" class="btn btn-danger form-control my-1 px-2">Вернуться назад</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}