{% extends 'base.html' %}

{% block content %}
    <header class="text-center"><h2>Блоги Skystore</h2></header>
    <div class="row">
        {% if user.is_staff %}
            <div class="col-12 text-center">
                <a href="{% url 'blog:create' %}" class="btn btn-lg btn-success w-25 mt-4">Создать блог</a>
            </div>
        {% endif %}
        {% for blog_object in object_list %}
            {% include 'blog/includes/inc_blog.html' %}
        {% endfor %}
    </div>
{% endblock %}