<div class="col-3">
    <div class="card h-100">
        <div class="card-header">
            <p>Информация о пользователе</p>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Почта: {{ object.email }}</li>
                {% if object.first_name %}
                    <li>Имя: {{ object.first_name }}</li>
                {% endif %}
                {% if object.last_name %}
                    <li>Фамилия: {{ object.last_name }}</li>
                {% endif %}
                <li>Статус:
                    {% if object.is_active %}
                        <text class="text-success">Активен</text>
                    {% else %}
                        <text class="text-secondary">Неактивен</text>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            {% if object.is_active %}
                <a href="{% url 'users:switch_status' object.pk %}" class="btn btn-danger form-control">Заблокировать
                    пользователя</a>
            {% else %}
                <a href="{% url 'users:switch_status' object.pk %}" class="btn btn-success form-control">Разблокировать
                    пользователя</a>
            {% endif %}
        </div>
    </div>
</div>